{% extends "include/layout.twig" %}

{% block content %}
    <div class='bio'>
    <p>I am an artist from the Lower Blue Mountains, west of Sydney, Australia. My work explores the interface between suburbia and the bush.</p>

    <p>My work is held in numerous private collections.</p>

    <div class='table'>
        <div class='row'>
            <div class='year'>2015</div>
            <div class='exhibitions'>
                Lindfield Art Show<br />
                Kings Art Show<br />
                Winmalee Artfest<br />
                Springwood Art Show<br />
            </div>
        </div>
        <div class='row'>
            <div class='year'>2014</div>
            <div class='exhibitions'>
                Winmalee Artfest - Feature Artist<br />
                Kings Art Show<br />
                Springwood Art Show<br />
            </div>
        </div>
        <div class='row'>
            <div class='year'>2013</div>
            <div class='exhibitions'>
                Winmalee Artfest<br />
                Springwood Art Show<br />
            </div>
        </div>
        <div class='row'>
            <div class='year'>2011</div>
            <div class='exhibitions'>
                'Interface' solo exhibition, Shoalhaven Regional Gallery
            </div>
        </div>
    </div>

    </div>

{% endblock %}
