{% extends "include/layout.twig" %}

{% block content %}
    <div class='contact'>
        <p class='detail'>
    Tim Roediger <br />
    Winmalee, Blue Mountains, Australia. <br />
    E: tim@timroedigerart.com.au <br />
    T: 0466 258 109 <br />
        </p>    
    </div>
{% endblock %}