<!DOCTYPE html>
<html lang="en" class='index'>
    {% include 'include/head.twig' %}
    <body class='index'>
        <div class="main">
            <a href="oil.html">
                <div class="main-img"></div>
                <div class="divider"></div>
                <div class="main-text">FINE ART BY<br />TIM ROEDIGER</div>
            </a>
        </div>
    </body>
</html>
