{% extends "include/layout.twig" %}

{% block content %}
<div class='purchase'>
    <p>If you would like to buy my work, please <a href='contact.html'>contact me</a>. I will arrange the specifics of payment details and shipping with you personally.</p>

    <h1>Viewings</h1>

    <p>My studio is located in the lower Blue Mountains, west of Sydney. Please make an <a href='contact.html'>appointment</a> if you wish to view any works you may be interested in.</p>

    <h1>Trial Hanging</h1>

    <p>If you would like to trial hang my work in a space before purchasing, please <a href='contact.html'>contact me</a> to make arrangements.</p>

    <h1>Payment</h1>

    <p>I accept payment via cash, bank transfer or paypal.</p>

    <h1>Shipping</h1>

    <p>Works may be picked up from my studio, or packed and shipped at the buyers expence.</p>
</div>    
{% endblock %}
