<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tim Roediger - {{ title }}</title>
    <meta name="description" content="Fine Art by Tim Roediger">
    <meta name="author" content="Tim Roediger">
    <meta name="keywords" content="oil painting, acrylic, landscape, botanical, trees, australia, blue mountains, drawing">
    <link rel="icon shortcut" type="image/png" href="{{ basePath }}img/favicon.png" />

    <!-- smoosh -->
    <link rel="stylesheet" href="../../temp/min.css">
    <!-- endsmoosh -->
    
    <!-- smoosh -->
    <script src="../../temp/min.js"></script>
    <!-- endsmoosh -->
</head>
